@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');


.wrapper {
  margin: 0;
  border-radius: 148px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border: solid 2px white;
}



.tag-container {
  display: flex;
  flex-flow: row wrap;
}

.tag{
  pointer-events: none;
    background-color: #827ef7;
    color: white;
    border-radius: 55px;
    padding: 6px;
    margin: 5px;
}

.tag::before {
  pointer-events: all;
    display: inline-block;
    content: 'x';
    height: 25px;
    width: 25px;
    margin-right: 6px;
    border-radius: 56px;
    text-align: center;
    color: #ccc;
    background-color: #111;
    cursor: pointer;
}
